{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Supplier creation</h1>

     {{ form_start(form,  {'style': 'horizontal' } ) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.website) }}
        {{ form_row(form.description) }}
        {{ form_row(form.logo) }}
        {{ form_row(form.kindPerson) }}
        {{ form_row(form.fiscalDocument) }}
        {{ form_row(form.active) }}
        {{ form_row(form.address.0.address1) }}
        {{ form_row(form.address.0.address2) }}
        {{ form_row(form.address.0.city) }}
        {{ form_row(form.address.0.state) }}
        {{ form_row(form.address.0.country) }}
        {{ form_row(form.address.0.zip) }}
        {{ form_row(form.address.0.reference) }}

    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('supplier') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
