<div class="nav-canvas">
    <div class="nav-sm nav nav-stacked">

    </div>
    <ul class="nav nav-pills nav-stacked main-menu">
        {% if submenu is defined %}
            <li class="nav-header">{{ submenu.name }}</li>
            {% for item in submenu.items %}
                <li><a class = "{{ item.class }}" href="{{ item.link }}"><i class="glyphicon {{ item.icon }}"></i><span> {{ item|trans }}</span></a></li>
            {% endfor %}
        {% else %}
            <li class="nav-header">{% trans %} Submenu {% endtrans %}</li>
        {% endif %}
    </ul>
</div>